# Python virtual environment
venv/

# SQLite database
app.db

# Alembic migrations cache or temporary files
__pycache__/
*.pyc

# Environment variables
.env

# VS Code or IDE settings
.vscode/
.idea/

# Logs and compiled files
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db


*.db
